<!-- Hello World! Sobebody owes me {{ amount | currency : format}}

<button (click)="toggleINRandUSD()">Toggle Currency</button>
 -->
<!-- <div>
  This is test string
  <br /><br /><br />
  {{ "This is another test string" | reverse: false:"doublequote" }}
</div> -->

<!-- <div *ngIf="someRandomVariable; then trueBlock else falseBlock">
  
</div>
<ng-template #falseBlock>
  <h1>No!!!!</h1>
</ng-template>

<ng-template #trueBlock>
  <h1>Yes !!!</h1>
</ng-template> -->

<!-- <h1>Interpolation</h1>
<p>
  Interpl;ocation use vasriable in brackets. variable named <b>name</b> using
  <span ngNonBindable>{{ name }}</span>
</p> -->
<!-- <ul>
  <li *ngFor="let info of data">
    <span [ngClass]="{ 'javascript': info.lang === 'JavaScript','swift': info.lang === 'Swift' }">
      {{ info.lang }} is mostly used on {{ info.usedOn }}
    </span>
  </li>
</ul> -->

<p>
  this pargraph is a normal one
</p>
<p appRedblack>
  this is a custome directive
</p>